<div class="filter-container">
    <span>Filter:</span>
    <input type="radio" name="filter" value="All"
     [(ngModel)]="selectedRadioButtenVal"
     (change)="onRadioSelection()">
    <span>{{'All Courses('+all+')'}}</span>
    <input type="radio" name="filter" value="Free"
     [(ngModel)]="selectedRadioButtenVal"
     (change)="onRadioSelection()">
    <span>{{'Free Courses('+free+')'}} </span>
    <input type="radio" name="filter" value="Premium"
     [(ngModel)]="selectedRadioButtenVal"
     (change)="onRadioSelection()">
    <span>{{'Premium Courses('+premium+')'}}</span>
</div>