
<!-- viewchild -->

<!-- <div>
  <label for="">DOB:</label>
  <input type="date" #dobinput  (blur)="calculateAge()">
</div>
<br>
<div>
  <label for="">Age:</label>
  <input type="text" #ageinput>
</div>
<app-demo></app-demo>
{{democomponent.sayHello()}} -->

<!-- this is ViewEncapsulation -->
<!-- <div style="margin: 20px auto; width: 780px;">
  <div class="app-component">
    <h2>App Component</h2>
    <p>This is <b>app</b> component.</p>
    <button>Button </button>
  </div>
  
  <div class="component-container">
    <app-comp1></app-comp1>
    <app-comp2></app-comp2>
  </div>
</div> -->

<!-- ng-content -->
<div class="container">
  <h2>New in Smart Phones</h2>

  <div class="more-products">

    <app-productsforngcontent><h4 class="title">New in iPhone</h4> <button class="btn btn-more">Show more in iPhone</button></app-productsforngcontent>
    <app-productsforngcontent><h4 class="title">New in Oneplus</h4> <button class="btn btn-more">Show more in Oneplus</button></app-productsforngcontent>
    <app-productsforngcontent><h4 class="title">New in Samsung</h4> <button class="btn btn-more">Show more in Samsung</button></app-productsforngcontent>
    <app-productsforngcontent><h4 class="title">New in MiPhone</h4> <button class="btn btn-more">Show more in MiPhone</button></app-productsforngcontent>
   
  </div>
</div>